<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to 'チャットを終了', room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "form" do |f| %>
  <div class="left-form">
    <div class="upper-form">
      <div class= "form-business-select">
        <%= f.select :business, ['【依頼】譲って！！', '【依頼】貰って！！', '【返答】'], include_blank: '▼ 御用件を選択 ▼' %>
      </div>
      <%= f.text_field :ingredients, class: "form-ingredients", placeholder: "食材名" %>
      <%= f.text_field :quantity, class: "form-quantity", placeholder: "数量（単位含む）" %>
    </div>
    <div class="lower-form">
      <%= f.text_field :comment, class: "form-comment", placeholder: "特記事項" %>
    </div>
  </div>
  <div class="right-form">
    <%= f.submit "送信", class: "form-submit" %>
  </div>
<% end %>