<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%# 投稿店舗名 %>
      <%= message.store.name %>
    </div>
    <div class="message-date">
      <%# 投稿時刻 %>
      <%= l message.created_at %>
    </div>
  </div>
  <div class="middle-message">
    <div class="message-business">
      <%# 御用件 %>
      <%= message.business.name %>
    </div>
    <div class="message-ingredients">
      <%# 食材名 %>
      <%= message.ingredients %>
    </div>
    <div class="message-quantity">
      <%# 数量 %>
      <%= message.quantity %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-comment">
      <%# コメント %>
      <%= message.comment %>
    </div>
  </div>
</div>